# .gitignore
node_modules/
.next/
dist/
logs/
.env*.local
.env.production
test/node_modules/lodash/_createRange.js
/.vs
.vs/nodejs/CopilotIndices/18.7.1253.33689/CodeChunks.db
*.zip
*.7z
7z2602-extra (1).7z
r
deploy.zip
nextdeploy.7z
7z2602-extra (1).7z
deploy.zip
/backend/src/generated/prisma
/backend/uploads/financial/file
