<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <!-- Clear inheritance so it doesn't conflict with root legacy handlers -->
            <clear />
            <add name="httpPlatformHandler_Next"
                 path="*"
                 verb="*"
                 modules="httpPlatformHandler"
                 resourceType="Unspecified" />
        </handlers>
        <httpPlatform processPath="D:\ASD\nodejsv2418\node.exe"
                      arguments="--env-file=.env.production .\server.js"
                      stdoutLogEnabled="true"
                      stdoutLogFile="D:\ASD\PSBIIS\psb\psbnode\logs\cluster.log"
                      startupTimeLimit="90"
                      processesPerApplication="1">
            <environmentVariables>
                <environmentVariable name="PORT"
                                     value="%HTTP_PLATFORM_PORT%" />
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>